* {
	margin: 0;
	padding: 0;
}

body{
	background-color: gray;
	font-family: 'Lucida Sans Unicode', 'Trebuchet MS', sans-serif;
}

header {
	background-color: black;
	width: 100%;
	height: 80px;
	position: relative;
	color: #EEEEEE;
	font-family: 'Lucida Sans Unicode', 'Trebuchet MS', sans-serif;
}

a {
	text-decoration: none;
}

.main_head {
	background-color: #222;
	width: 100%;
	height: 50px;
	position: relative;
}

.logo {
	/*background-color: #211;*/
	width: 30%;
	height: 100%;
	float: left;
}

.logo_text {
	position: relative;
	width: 20%;
	margin-left: 80px;
	margin-top: 10px;
	font-size: 14px;
}

.logo_text a {
	color: #BBB;
}

.logo_text a:hover {
	color: #FFF;
}

.login {
	/*background-color: #112;*/
	width: 65%;
	height: 100%;
	float: left;
}

.login_form {
	/*background-color: #AAA;*/
	position: relative;
	width: 50%;
	height: 60%;
	margin: 10px 0 0 400px;
	font-size: 14px;
}

.bin {	
	/*background-color: #121;*/
	width: 5%;
	height: 100%;
	float: left;
}

.bin a {
	position: relative;
	left: 20px;
	top: 20px;
	color: #FFF;
}

.bin a:hover {
	color: #AAA;
}

.reg {
	height: 20px;
	width: 90%;
}

.email_reg, .pass_reg {
	float: left;
	width: 45%;
}

.submit_reg {
	/*background-color: #222;*/
	position: relative;
	width: 10%;
	padding-top: 5px;
	float: left;
}

.secondary_head {
	/*background-color: #111;*/
	width: 100%;
	height: 30px;
	position: relative;
}

.categories {
	/*background-color: #311;*/
	width: 80%;
	height: 100%;
	float: left;
}

.categories ol {
	list-style: none;
	margin-left: 25px;
}

.categories li {
	display: inline-block;
	max-width: 80px;
	height: 100%;
	padding: 3px 10px 0px 10px;
}

.categories a {
	color: #EEE;
}

.categories a:hover {
	color: #444;
}

.search {
	/*background-color: #131;*/
	width: 20%;
	height: 100%;
	float: left;
}

.search_form {
	/*background-color: #141;*/
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 14px;
}

.search_bar, .search_btn {
	float: left;
}

.search_bar {
	width: 80%;
	height: 20px;
	padding-top: 4px;
}

.search_bar input {
	width: 90%;
	height: 15px;
}

.search_btn {
	width: 20%;
	padding-top: 6px;
}

.search_btn input {
	width: 70%;
	height: 20px;
}

.logo{
	left: 15px;
	top: 15px;
}

.search_part {
	width: 85%;
}

footer {
	width: 100%;
	height: 260px;
	position: absolute;
	bottom: 0px;
	background-color: white;
}

.footer_info {
	width: 180px;
	height: 210px;
	float: left;
	margin-top: 15px;
	margin-right: 55px;
	background-color: white;
}

.about_us {
	display: inline-block;
	margin-left: 90px;
} 

.catalog {
	display: inline-block;
}

.partners {
	display: inline-block;
	margin-left: 50px;
}

.help {
	display: inline-block;
}

.contact {
	display: inline-block;
}

.contact p {
	margin-left: 10px;
	color: gray;
}

h5 {
	margin-top: 7px;
	margin-bottom: 12px;
	margin-left: 10px;
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif
}

footer a {
	margin: 5px 0px 0px 10px;
	font-size: 15px;
	color: gray;
	display: block;
}

footer a:hover {
	color: red;
}
